<div [formGroup]="addExercisesForm" class="modal" [ngClass]="{'modal-open': showForm}">
  <div class="modal-box w-full">
    <div class="flex flex-col items-center">
      <div formArrayName="selectorsFormArray">
        <div *ngFor="let selectorControl of selectorsFormArray.controls; let i = index" [formGroupName]="i">
            <div class="flex flex-col">
              <span class="label-text">Select an exercise or type to search</span>
              <div class="flex flex-row items-center">
              <ng-select [items]="exerciseNames"
              formControlName="exerciseOption"
              class="w-full py-2 mb-1 bg-neutral-content rounded-lg"
              notFoundText="No exercise found"
              appendTo="body"
              [addTag]="addExerciseOption"
              addTagText="Add Exercise "
              >
              </ng-select>
              <app-button-delete class="ml-2" (click)="deleteExercise(i)"></app-button-delete>
            </div>
          </div>
        </div>
      </div>
      <app-button-standard [text]="'Add An Exercise'" (click)="addExerciseSelector()"/>
      <app-button-standard [text]="'Done'" (click)="save()"/>
    </div>
  </div>
</div>
