<div [formGroup]="addExercisesForm" class="modal" [ngClass]="{'modal-open': showForm}">
  <div class="modal-box">
    <div class="flex flex-col items-center">
      <div formArrayName="selectorsFormArray">
        <div *ngFor="let selectorControl of selectorsFormArray.controls; let i = index" [formGroupName]="i">
          <div class="flex flex-col">
            <span class="label-text">Select an exercise or type to search</span>

            <ng-select [items]="staticExercises"
            bindLabel="name"
            formControlName="exerciseOption"
            class="w-full py-2 mb-1 bg-neutral-content rounded-lg"
            notFoundText="No exercise found"
            appendTo="body"
            [addTag]="addExerciseOption"
            addTagText="Add Exercise"
            >
            </ng-select>

            <div class="flex flex-row">
              <input type="number" min="1" formControlName="setsInput" placeholder="Sets" class="input input-bordered input-xs w-1/4 mb-2 mr-2" />
              <input type="number" min="1" formControlName="repsInput" placeholder="Reps" class="input input-bordered input-xs w-1/4" />
            </div>
          </div>
        </div>
      </div>
      <app-button-standard [text]="'Add An Exercise'" (click)="addExerciseSelector()"/>
      <app-button-standard [text]="'Done'" (click)="save()"/>
    </div>
  </div>
</div>
