<div [formGroup]="exerciseForm" class="flex flex-col items-center h-screen">
  <h1 class="text-4xl font-bold uppercase mb-8 text-center">Workout Summary</h1>
  <div formArrayName="exercisesFormArray" class="overflow-x-auto">
    <ng-container *ngFor="let exerciseGroup of exercisesFormArray.controls; let i = index" [formGroupName]="i">
      <input formControlName="name" placeholder="Exercise Name" class="input"/>
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Set</th>
            <th>Reps Completed</th>
            <th>Weight (kg)</th>
            <th>Intensity</th>
          </tr>
        </thead>
        <ng-container formArrayName="setsFormArray">
          <ng-container *ngFor="let setsGroup of getSetsFormArray(i).controls; let setIndex = index" [formGroupName]="setIndex">
            <tbody>
              <tr >
                <td>{{ setIndex + 1 }}</td>
                <td><input formControlName="repsCompleted" placeholder="Reps Completed" class="input input-bordered"/></td>
                <td><input formControlName="weight" placeholder="Weight (kg)" class="input input-bordered"/></td>
                <td><input formControlName="intensity" placeholder="Intensity" class="input input-bordered"/></td>
              </tr>
            </tbody>
          </ng-container>
        </ng-container>
      </table>
      <div class="flex justify-center mt-4">
        <app-button-sleek class="text-center" [text]="'Add Set'" (click)="addSet(i)"></app-button-sleek>
      </div>
   </ng-container>
  </div>
    <app-button-sleek [text]="'Add Exercise'" (click)="addExercise()"></app-button-sleek>
   <!-- <app-button-standard [text]="'Copy to clipboard'" (click)="copyToClipboard()"></app-button-standard>
    <app-button-standard [text]="'Export To CSV'" (click)="exportToCsv()"></app-button-standard>
    <app-button-standard [text]="'Go Back'" (click)="back()"></app-button-standard>
    -->

</div>


<!--
ExerciseForm:
  ExercisesFormArray
    SetsFormArray
-->
