<div class="flex flex-col items-center justify-center h-screen" [formGroup]="workoutForm">
  <h1 class="text-4xl font-bold uppercase mb-8 text-center">Let's Work</h1>

  <div formArrayName="stepsFormArray" class="flex flex-col items-center">
    <ul class="steps steps-vertical">
      <li class="step" [ngClass]="{'step-primary': stepFormGroup.get('pending')?.value}"
          *ngFor="let stepFormGroup of stepsFormArray.controls; let i = index"
          [formGroupName]="i">

        <div class="flex-col p-4">
          <div class="flex-row">
            {{ stepFormGroup.get('exercise')?.value}}:
            <label class="label-text">{{stepFormGroup.get('targetRepsPerSet')?.value}}</label>
            <label class="label-text ml-1 mr-1">X</label>
            <label class="label-text">{{stepFormGroup.get('targetSets')?.value}}</label>
          </div>

          <ng-container formArrayName="stepInformationFormArray">
            <div class="flex-row"
                 *ngFor="let setFormGroup of getStepInformationFormArrayControls(i); let j = index"
                 [formGroupName]="j">

              <label class="label-text">Set {{j+1}}: </label>
              <input type="number" min="1" formControlName="repsCompleted"
                     placeholder="Reps Completed: " class="input input-bordered input-xs w-32" />
              <input type="number" min="1" formControlName="intensity"
                     placeholder="Intensity: " class="input input-bordered input-xs w-32" />
            </div>
          </ng-container>
          <button (click)="markStepAsComplete(i)" class="hover:text-green-500">&#10003;</button>
        </div>

      </li>
    </ul>
  </div>
  <div class="flex flex-row">
    <button class="btn btn-lg text-lg mx-4">
      <span class="uppercase" (click)="back()">Go Back</span>
    </button>
    <button class="btn btn-lg text-lg mx-4">
      <span class="uppercase" (click)="finish()">Finish workout</span>
    </button>
  </div>
</div>
