<div class="flex flex-col justify-center items-center h-screen" [formGroup]="workoutForm">
  <h1 class="text-4xl font-bold uppercase mb-4 text-center">Let's Work</h1>

  <div formArrayName="stepsFormArray">
    <ul class="steps steps-vertical flex flex-col items-center flex-wrap">
      <li class="step" [ngClass]="{'step-primary': stepFormGroup.get('pending')?.value}"
          *ngFor="let stepFormGroup of stepsFormArray.controls; let i = index"
          [formGroupName]="i">

        <div class="flex-col py-2">
          <div class="flex-row">
            {{ stepFormGroup.get('exercise')?.value}}:
            <label>
              {{ stepFormGroup.get('targetSets')?.value }} Set{{ stepFormGroup.get('targetSets')?.value > 1 ? 's' : '' }}
            </label>
            <label class="mx-1">X</label>
            <label>{{stepFormGroup.get('targetRepsPerSet')?.value}} Rep{{ stepFormGroup.get('targetRepsPerSet')?.value > 1 ? 's': ''}}</label>
          </div>

          <ng-container formArrayName="stepInformationFormArray">
            <div class="flex-row"
                 *ngFor="let setFormGroup of getStepInformationFormArrayControls(i); let j = index"
                 [formGroupName]="j">

              <label class="label-text">Set {{j+1}}: </label>
              <input type="number" min="1" formControlName="repsCompleted"
                     placeholder="Reps Completed:" class="input input-bordered input-xs w-32" />
              <input type="number" min="1" max="10" formControlName="intensity"
                     placeholder="Intensity (1-10):" class="input input-bordered input-xs w-32" />
              <input type="number" formControlName="weight"
                     placeholder="Weight (kg):" class="input input-bordered input-xs w-32" />
            </div>
          </ng-container>
          <button (click)="markStepAsComplete(i)" [ngClass]="{'text-green-500': stepFormGroup.get('complete')?.value}" class="hover:text-green-500">&#10003;</button>
        </div>

      </li>
    </ul>
  </div>
  <div class="flex flex-row justify-center">
    <app-button-standard (click)="back()" [text]="'Go Back'"/>
    <app-button-standard (click)="finish()" [text]="'Finish Workout'"/>
  </div>
</div>
